{
  "openapi": "3.1.0",
  "info": {
    "title": "Ekubo Protocol MCP Gateway",
    "version": "0.1.0",
    "description": "Discovery contract for the public, unauthenticated Ekubo MCP server. MCP clients discover typed tool schemas through tools/list; GET /tools provides the same catalog to ordinary HTTP clients.",
    "contact": {
      "url": "https://ekubo.org",
      "email": "eng@ekubo.org"
    }
  },
  "servers": [
    {
      "url": "https://mcp.ekubo.org",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "url": "https://modelcontextprotocol.io/specification/2025-11-25/basic/transports",
    "description": "MCP Streamable HTTP transport"
  },
  "security": [],
  "paths": {
    "/": {
      "get": {
        "operationId": "getServiceMetadata",
        "summary": "Discover the Ekubo MCP service",
        "responses": {
          "200": {
            "description": "MCP endpoint, documentation URLs, upstream contracts, and safety boundaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check Worker availability",
        "responses": {
          "200": {
            "description": "Worker is available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "const": "ok"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tools": {
      "get": {
        "operationId": "listPublicTools",
        "summary": "List MCP tools without an MCP client",
        "description": "MCP clients should use tools/list at /mcp. This endpoint makes the deterministic tool catalog visible to crawlers and ordinary HTTP clients.",
        "responses": {
          "200": {
            "description": "Tool names, descriptions, and JSON input schemas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["tools"],
                  "properties": {
                    "tools": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tool"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApiDocument",
        "summary": "Fetch this OpenAPI document",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/mcp": {
      "get": {
        "operationId": "openMcpStream",
        "summary": "Open the MCP Streamable HTTP receive channel",
        "responses": {
          "200": {
            "description": "MCP response or server-sent event stream"
          },
          "405": {
            "description": "No stream is available for the request"
          }
        }
      },
      "post": {
        "operationId": "sendMcpMessage",
        "summary": "Send an MCP JSON-RPC message",
        "description": "Use initialize and tools/list for protocol-native discovery, then tools/call to invoke a read-only Ekubo tool.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "MCP notification accepted"
          },
          "400": {
            "description": "Invalid MCP request"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Error": {
        "description": "Request failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": ["name", "title", "description", "inputSchema"],
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "inputSchema": {
            "type": "object"
          }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": ["string", "number", "null"]
          },
          "method": {
            "type": "string",
            "examples": ["initialize", "tools/list", "tools/call"]
          },
          "params": {}
        }
      }
    }
  }
}
